@using System.Reflection
@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<main>
		<div class="top-row px-4 bg-dark">
			<ul class="list-inline my-0 me-lg-5">
				<li class="list-inline-item">
					<a target="_blank" href="https://github.com/Nodsoft/WoWS-ReplaysUnpack">
						Replays Unpacker <span class="font-monospace">@UnpackerVersion</span>
					</a>
				</li>
				
				<li class="list-inline-item"><a target="_blank" href="https://github.com/Nodsoft/WOWS-Unpack">GitHub</a></li>
			</ul>
		</div>

		<article class="content p-5">
			@Body
		</article>
	</main>
</div>

@code 
{
	public static string UnpackerVersion { get; } = 'v' + typeof(ReplayUnpacker).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()!.InformationalVersion;
}